<section class="grid grid-cols-1 md:grid-cols-2 gap-3">

  <div class="bg-white rounded shadow p-10">
    <h2 class="text-2xl font-bold mb-5"> if:{{showContent()}}</h2>


    <!--Boton para cambiar el valor de la señal-->
    <button (click)="toggleContent()" class="bg-blue-500 text-white font-bold mb-5">
      click me
    </button>

    @if(showContent()) {
    <p>Hola Mundo</p>
    } @else {
    <p>***********</p>
    }
  </div>

  <!--Switch-->
  <div class="bg-black rounded shadow p-10">
    <h2 class="text-3xl text-amber-600">{{grade()}}</h2>
    @switch (grade()) {
    @case ('A') {
    <p class="text-green-500">Excelente</p>
    }
    @case ('B') {
    <p class="text-yellow-500">Bueno</p>
    }
    @case ('F') {
    <p class="text-red-500">Reprobado</p>
    }
    @default {
    <p class="text-red-700">Suspenso</p>
    }
    }
  </div>



  <!--@for-->
  <div class="bg-white rounded shadow p-10">

    @for (framework of frameworks(); track framework; let i = $index,
    first = $first, last = $last, even = $even, odd = $odd, count= $count) {
    <ul>
      <li [class]="{
        'bg-red-300': even && !first && !last,
        'bg-green-500': odd && !first && !last,
        'bg-blue-600': first || last,
        }">
        {{i + 1}}/{{count}}- {{framework}}
      </li>
    </ul>
    }
  </div>

  <div class="bg-amber-800 rounded shadow p-10">
    @for (framework of frameworks2(); track $index;
    ) {
    <ul>
      <li>
        {{$index}} - {{framework}}
      </li>
    </ul>
    }@empty {
    <li>No Hay framework agregados</li>
    }
  </div>


</section>
